{cover_enabled, true}.
{clean_files, ["logs"]}.
{test_deps, false}.
{show_cmd, true}.
{deps_dirs, ["deps"]}.
{test_node_name, "test_ssqiu@127.0.0.1"}.
{erl_opts, [debug_info,{d,'TEST'}, {i, "include"}, {src_dirs, ["src"]}]}.
{deps, [

{erlydtl, ".*",
   {git, "git://github.com/evanmiller/erlydtl.git", "master"}},
   {'mochiweb', ".*", {git, "git://github.com/mochi/mochiweb.git", "master"}},
   {'json', ".*",     {git, "git://github.com/hio/erlang-json.git", "master"}}
]}.
{sub_dirs, ["rel"]}.                          
{edoc_opts,[{packages,false},{subpackages,false}]}.
